[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[[source]]
name = "china"
url= "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
Werkzeug = "==0.16.0"
ipython = "*"
factory-boy = "*"
codecov = {version = "*", sys_platform = "== 'linux'"}
coverage = "*"
django-debug-toolbar = "==2.1"

[packages]
bjoern = {version = "*", sys_platform = "== 'linux'"}
gunicorn = "*"
django-compressor = "*"
django-debug-toolbar = "==1.11"
django-environ = "*"
django-extensions = "==2.2.5"
djangorestframework = "*"
djangorestframework-camel-case = "*"
#Django = "==2.1.7"
Django = "==3.0.1"
# [Argon2](https://docs.djangoproject.com/en/2.1/topics/auth/passwords/#using-argon2-with-django) to hash the passwords
argon2-cffi = {version="*", index="py"}
mysqlclient = "*"
psycopg2-binary = "==2.8.4"
whitenoise = "==5.0.1"
sentry-sdk = "*"
ipaddress = "*"
