[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[[source]]
name = "china"
url= "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
Werkzeug = "==0.15.1"
ipython = "*"
factory-boy = "*"
codecov = {version = "*", sys_platform = "== 'linux'"}
coverage = "*"

[packages]
bjoern = {version = "*", sys_platform = "== 'linux'"}
gunicorn = "*"
django-compressor = "*"
django-debug-toolbar = "==1.11"
django-environ = "*"
django-extensions = "==2.1.6"
djangorestframework = "*"
djangorestframework-camel-case = "*"
Django = "==2.1.7"
# [Argon2](https://docs.djangoproject.com/en/2.1/topics/auth/passwords/#using-argon2-with-django) to hash the passwords
argon2-cffi = {version="*", index="py"}
mysqlclient = "*"
psycopg2-binary = "==2.7.7"
whitenoise = "==4.1.2"
sentry-sdk = "*"
ipaddress = "*"
